@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #161b22;
    color: #fff;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::selection {
    background: rgb(0, 123, 255, 0.3);
}

.content {
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #007bff;
}

.banner {
    background: url("banner.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about {
    padding: 30px 0;
}

.about .title {
    font-size: 38px;
    font-weight: 700;
}

.about p {
    padding-top: 20px;
    text-align: justify;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

@media (max-width: 1230px) {
    .content {
        padding: 0 60px;
    }
}

@media (max-width: 1100px) {
    .content {
        padding: 0 40px;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 0 30px;
    }
}

@media (max-width: 868px) {
    body.disabled {
        overflow: hidden;
    }

    .icon {
        display: block;
    }

    .icon.hide {
        display: none;
    }

    .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }

    .navbar.show .menu-list {
        left: 0%;
    }

    .navbar .menu-list li {
        margin-top: 45px;
    }

    .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .navbar.show .menu-list li a {
        margin-left: 0px;
    }
}

@media (max-width: 380px) {
    .navbar .logo a {
        font-size: 27px;
    }
}



/* Home section */

#Home {
    min-height: 115vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1617600433693-eef3435282a9?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");


}

.coverImgCont {
    width: 27em;
    position: absolute;
    left: 40%;
    top: 17%;
    /* z-index: 1; */
}

.coverImgCont>img {
    width: 100%;
    height: auto;
    /* position: absolute; */
}

.coverImgCont>.imgBorder {
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    position: absolute;
    top: 30px;
    left: 30px;
}

.coverImgCont>.homeText {
    position: absolute;
    top: 20%;
    right: -30%;
}
.coverImgCont>.homeText>h1 {
    font-size: 4em;
    /* font-weight: 500; */
    color: #fff;
    font-family: "Asap Condensed", sans-serif;
    font-weight: 350;
    font-style: normal;
    letter-spacing: 0.05em;
    text-align: right;
}

.coverImgCont>.homeText>p {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
    font-family: "Asap Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
    text-align: right;
    text-transform: uppercase;
}


.coverImgCont>.view {
    width: 100%;
    position: absolute;
    top: 57%;
    left: -20%;
}

.coverImgCont>.view>a {
    width: 100%;
    position: absolute;
    margin-top: 100px;
    font-size: 1.8em;
    color: #fff;
    font-family: "Asap Condensed", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.1em;
    text-align: left;
    text-transform: uppercase;
}


#About {
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#About .AboutText {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 20%;
}

#About .AboutText h1 {
    font-family: "Asap Condensed", sans-serif;
    font-weight: 350;
    font-style: normal;
    letter-spacing: 0.05em;
}

#About p {
    width: 65%;
    text-align: justify;
}